<div class="background">
  <div class="container">
    <div class="row">
      <div class="col-3">
       <div class="user-panel m-3">
        <%= image_tag "cloudsPlaceHolder.jpg", :style => "height: 15%; width: 100%; border-radius: 25px 25px 0 0;" %>
        <%= image_tag "userPlaceholder.png", class:"avatar-dash", :style => "width: 100px; border: 2px solid white; border-radius: 50%;" %>
        <div class="user-name d-flex align-items-center justify-content-center">
          <h4> <strong>Martim Correia</strong></h4>
        </div>
        <div class="follows d-flex justify-content-evenly">
          <div class="following">
            <h5>Following</h5>
            <p class="text-center">0</p>
          </div>
          <div class="followers">
           <h5>Followers</h5>
            <p class="text-center">0</p>
          </div>
        </div>

       </div>
       <div class="user-secondary-panel m-3">
       </div>
      </div>
      <div class="col">
        <div id="map" data-controller="map" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" style='width: 100%; height: 600px; border-radius: 25px;'>
        </div>

      </div>
    </div>
  </div>
</div>
